This project will calculate probabilities.

The first step is coding functions on factorials and combinations.

In [44]:
def factorial(n):
    fact = 1
    for i in range(n,0,-1):
        fact *= i
    return fact

def combinations(n, k):
    x = factorial(n)/(factorial(k)*factorial(n-k))
    return x

In [45]:
print(combinations(n=3, k=1))

3.0

In [46]:
def one_ticket_probability(array):
    prob = combinations(len(array),6)/combinations(49, 6)
    return "The probability of drawing this combination is {:%}".format(prob)

In [47]:
x = [1,2,3,4,5,6]
print(one_ticket_probability(x))

The probability of drawing this combination is 0.000007%

In [48]:
import pandas as pd
data = pd.read_csv('649.csv')
print(data.head(5))

   PRODUCT  DRAW NUMBER  SEQUENCE NUMBER  DRAW DATE  NUMBER DRAWN 1  \
0      649            1                0  6/12/1982               3
1      649            2                0  6/19/1982               8
2      649            3                0  6/26/1982               1
3      649            4                0   7/3/1982               3
4      649            5                0  7/10/1982               5

   NUMBER DRAWN 2  NUMBER DRAWN 3  NUMBER DRAWN 4  NUMBER DRAWN 5  \
0              11              12              14              41
1              33              36              37              39
2               6              23              24              27
3               9              10              13              20
4              14              21              31              34

   NUMBER DRAWN 6  BONUS NUMBER
0              43            13
1              41             9
2              39            34
3              43            34
4              47            45

In [49]:
data.shape

(3665, 11)

In [50]:
data.describe()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
count,3665.0,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000
mean,649.0,1819.494952,0.030832,7.327694,14.568076,21.890859,28.978445,36.162619,43.099045,24.599454
std,0.0,1039.239544,0.237984,5.811669,7.556939,8.170073,8.069724,7.190960,5.506424,14.360038
min,649.0,1.000000,0.000000,1.000000,2.000000,3.000000,4.000000,11.000000,13.000000,0.000000
25%,649.0,917.000000,0.000000,3.000000,9.000000,16.000000,23.000000,31.000000,40.000000,12.000000
50%,649.0,1833.000000,0.000000,6.000000,14.000000,22.000000,30.000000,37.000000,45.000000,25.000000
75%,649.0,2749.000000,0.000000,10.000000,20.000000,28.000000,35.000000,42.000000,47.000000,37.000000
max,649.0,3591.000000,3.000000,38.000000,43.000000,45.000000,47.000000,48.000000,49.000000,49.000000

In [51]:
a = data.iloc[0][['NUMBER DRAWN 1','NUMBER DRAWN 2','NUMBER DRAWN 3','NUMBER DRAWN 4','NUMBER DRAWN 5','NUMBER DRAWN 6']]
b = list(a)
c = set(b)
print(c)

{3, 41, 11, 12, 43, 14}

In [52]:
def extract_numbers(row):
    a = row[['NUMBER DRAWN 1','NUMBER DRAWN 2','NUMBER DRAWN 3','NUMBER DRAWN 4','NUMBER DRAWN 5','NUMBER DRAWN 6']]
    b = list(a)
    extr_set = set(b)
    return extr_set

In [53]:
print(extract_numbers(data.iloc[1]))

{33, 36, 37, 39, 8, 41}

In [54]:
winning = data.apply(extract_numbers, axis=1)
print(winning.head(5))

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [55]:
def check_historical_occurence(x, y):
    user_set = set(x)
    success = 0
    for i in winning:
        if user_set == i:
            success += 1
    prob = success/len(y)

In [56]:
user = [1,2,3,4,5,6]
y = winning
print(check_historical_occurence(user,y))

None

In [65]:
def multi_ticket_probability(n):
    total = combinations(49, 6)
    success = n
    prob = success / total
    return "The probability of winning for {} tickets played is {:%}".format(n, prob)

In [69]:
print(multi_ticket_probability(1000000))

The probability of winning for 1000000 tickets played is 7.151124%

In [76]:
def probability_less_6(n):
    l = combinations(6, n)*(49-combinations(6, n) - 1)
    prob = l / combinations(49,6)
    return "The probability of choosing {} numbers correctly is {:%}".format(n, prob)

In [78]:
print(probability_less_6(2))

The probability of choosing 2 numbers correctly is 0.003540%