In [2]:
import pandas as pd
data = pd.read_csv('jeopardy.csv')

print(data.head(5))

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                            Question      Answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

In [3]:
print(data.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [4]:
data.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value',
       'Question', 'Answer']

In [5]:
print(data.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [6]:
import string

def norm_function(x):
    x_1 = x.lower()
    x_2 = str.maketrans('', '', string.punctuation)
    y = x_1.translate(x_2)
    return y

In [7]:
data['clean_question'] = data['Question'].apply(norm_function)
data['clean_answer'] = data['Answer'].apply(norm_function)

In [8]:
print(data.head(5))

   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer  \
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

                                      clean_question clean_answer
0  for the last 8 years of his life galileo was u...   copernicus
1  no 2 1912 olympian football star at carlisle i...   jim thorpe
2  the city of yuma in this state has a record av...      arizona
3  in 1963 live on the art linkletter show this c...    mcdonalds
4  signer of the dec of indep framer of the const...   john adams

In [9]:
def dollar_norm(x):
    x_1 = str.maketrans('', '', string.punctuation)
    y = x.translate(x_1)
    try:
        z = int(y)
    except Exception:
        z = 0
    return z

In [10]:
data['clean_value'] = data['Value'].apply(dollar_norm)

In [11]:
print(data.head(5))

   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer  \
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

                                      clean_question clean_answer  clean_value
0  for the last 8 years of his life galileo was u...   copernicus          200
1  no 2 1912 olympian football star at carlisle i...   jim thorpe          200
2  the city of yuma in this state has a record av...      arizona          200
3  in 1963 live on the art linkletter show this c...    mcdonalds          200
4  signer of the dec of indep framer of the const...   john adams          200

In [12]:
data['Air Date'] = pd.to_datetime(data['Air Date'])

In [13]:
print(data.head(5))

   Show Number   Air Date      Round                         Category Value  \
0         4680 2004-12-31  Jeopardy!                          HISTORY  $200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer  \
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

                                      clean_question clean_answer  clean_value
0  for the last 8 years of his life galileo was u...   copernicus          200
1  no 2 1912 olympian football star at carlisle i...   jim thorpe          200
2  the city of yuma in this state has a record av...      arizona          200
3  in 1963 live on the art linkletter show this c...    mcdonalds          200
4  signer of the dec of indep framer of the const...   john adams          200

In [14]:
def row_manipulation(x, y):

    split_answer = x.split()
    split_question = y.split() 
    match_count = 0
    for j in split_answer:
        if j == 'the':
            split_answer.remove(j)
    for i in split_answer:
        if i in split_question:
             match_count += 1
    
    if len(split_answer) == 0:
        return 0
    else:
        return match_count/len(split_answer)

In [15]:
data['answer_in_question'] = data.apply(lambda row: row_manipulation(row['clean_answer'], row['clean_question']), axis=1)

In [16]:
print(data.head(5))

   Show Number   Air Date      Round                         Category Value  \
0         4680 2004-12-31  Jeopardy!                          HISTORY  $200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer  \
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

                                      clean_question clean_answer  \
0  for the last 8 years of his life galileo was u...   copernicus
1  no 2 1912 olympian football star at carlisle i...   jim thorpe
2  the city of yuma in this state has a record av...      arizona
3  in 1963 live on the art linkletter show this c...    mcdonalds
4  signer of the dec of indep framer of the const...   john adams

   clean_value  answer_in_question
0          200                 0.0
1          200                 0.0
2          200                 0.0
3          200                 0.0
4          200                 0.0

In [17]:
print(data['answer_in_question'].mean())

0.058206961574629956

It seems like it is rare that words in the question are also contained in the answer - this is not a winning strategy.

In [18]:
data['Air Date'].sort_values()

19325   1984-09-21
19301   1984-09-21
19302   1984-09-21
19303   1984-09-21
19304   1984-09-21
19305   1984-09-21
19306   1984-09-21
19307   1984-09-21
19308   1984-09-21
19309   1984-09-21
19310   1984-09-21
19311   1984-09-21
19312   1984-09-21
19313   1984-09-21
19314   1984-09-21
19315   1984-09-21
19316   1984-09-21
19317   1984-09-21
19318   1984-09-21
19319   1984-09-21
19320   1984-09-21
19321   1984-09-21
19322   1984-09-21
19323   1984-09-21
19300   1984-09-21
19324   1984-09-21
19299   1984-09-21
19297   1984-09-21
19274   1984-09-21
19275   1984-09-21
           ...
1973    2012-01-19
1974    2012-01-19
1959    2012-01-19
1958    2012-01-19
1957    2012-01-19
1956    2012-01-19
1934    2012-01-19
1935    2012-01-19
1936    2012-01-19
1937    2012-01-19
1938    2012-01-19
1939    2012-01-19
1940    2012-01-19
1941    2012-01-19
1942    2012-01-19
1943    2012-01-19
1932    2012-01-19
1944    2012-01-19
1946    2012-01-19
1947    2012-01-19
1948    2012-01-19
1949    2012-01-19
1950    2012-01-19
1951    2012-01-19
1952    2012-01-19
1953    2012-01-19
1954    2012-01-19
1955    2012-01-19
1945    2012-01-19
1922    2012-01-19
Name: Air Date, Length: 19999, dtype: datetime64[ns]

In [19]:
print(data.head(5))

   Show Number   Air Date      Round                         Category Value  \
0         4680 2004-12-31  Jeopardy!                          HISTORY  $200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer  \
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

                                      clean_question clean_answer  \
0  for the last 8 years of his life galileo was u...   copernicus
1  no 2 1912 olympian football star at carlisle i...   jim thorpe
2  the city of yuma in this state has a record av...      arizona
3  in 1963 live on the art linkletter show this c...    mcdonalds
4  signer of the dec of indep framer of the const...   john adams

   clean_value  answer_in_question
0          200                 0.0
1          200                 0.0
2          200                 0.0
3          200                 0.0
4          200                 0.0

In [29]:
question_overlap = []
terms_used = set()

for i, row in data.iterrows():
    split_question = row['clean_question'].split()
    match_count = 0
    for word in split_question:
        if len(word) >= 6: 
            terms_used.add(word)
            if word in terms_used:
                match_count += 1
        if len(split_question) > 0:
            match_count1 = match_count/len(split_question)
    question_overlap.append(match_count1)

data['question_overlap'] = question_overlap

print(data['question_overlap'].mean())

0.3175744557963618

It seems like a lot of the questions are repeating themselves.

In [30]:
def value(x):
    if x > 800:
        value = 1
    else:
        value = 0
    return value

In [31]:
data['high-value'] = data.apply(lambda row: value(row['clean_value']), axis=1)

In [34]:
print(data.head())

   Show Number   Air Date      Round                         Category Value  \
0         4680 2004-12-31  Jeopardy!                          HISTORY  $200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer  \
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

                                      clean_question clean_answer  \
0  for the last 8 years of his life galileo was u...   copernicus
1  no 2 1912 olympian football star at carlisle i...   jim thorpe
2  the city of yuma in this state has a record av...      arizona
3  in 1963 live on the art linkletter show this c...    mcdonalds
4  signer of the dec of indep framer of the const...   john adams

   clean_value  answer_in_question  question_overlap  high-value
0          200                 0.0          0.222222           0
1          200                 0.0          0.444444           0
2          200                 0.0          0.166667           0
3          200                 0.0          0.357143           0
4          200                 0.0          0.388889           0

In [35]:
def new(word):
    low_count = 0
    high_count = 0
    for i, row in data.iterrows():
        split_question = row['clean_question'].split()
        if word in split_question:
            if row['high-value'] == 1:
                high_count += 1
            else:
                low_count += 1
    return low_count, high_count

In [39]:
import random

comparison_terms = []

for i, val in enumerate(random.sample(terms_used, 10)):
    comparison_terms.append(val)
    
print(comparison_terms)

['coincidentally', 'guitars', 'steeped', 'kougras', 'eventoed', 'longdistance', '110thinch', 'firestone', 'stretched', 'payment']

In [40]:
observed_expected = []

for i in comparison_terms:
    x = new(i)
    observed_expected.append(x)

print(observed_expected)

[(0, 1), (0, 1), (2, 0), (0, 1), (0, 1), (1, 0), (1, 0), (1, 1), (4, 0), (4, 2)]

In [42]:
high_value_count = len(data[data['high-value']==1])
print(high_value_count)
low_value_count = len(data[data['high-value']==0])
print(low_value_count)

5734
14265

In [46]:
from scipy.stats import chisquare
import numpy as np

chi_squared = []

for i in observed_expected:
    total = sum(i)
    total_prop = total / len(data)
    exp_high_value = high_value_count * total_prop
    exp_low_value = low_value_count * total_prop
    observed = np.array([i[0], i[1]])
    expected = np.array([exp_low_value, exp_high_value])
    chi_squared.append(chisquare(observed, expected))
    
print(chi_squared)

[Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047), Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047), Power_divergenceResult(statistic=0.803925692253768, pvalue=0.3699222378079571), Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047), Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047), Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469), Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469), Power_divergenceResult(statistic=0.4448774816612795, pvalue=0.5047776487545996), Power_divergenceResult(statistic=1.607851384507536, pvalue=0.20479409439225948), Power_divergenceResult(statistic=0.06376233446880725, pvalue=0.8006453026878781)]

P-values are higher than 5% probability - none of the terms had statistically significant usage.